@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

#root{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#pokemonInfo {
    display: flex;
    flex-direction: row;
}

#Image {
    width: 35%;
}

#Information{
    display: flex;
}

#Name {
    margin-left: 100px;
    display: flex;
}

#Price {
    margin-left: 200px;
    display: flex;
}

.front-page-container h1{
    font-size: 800%;
    font-family: 'Pokemon Solid', sans-serif;     
    color: #FFCB05;
    letter-spacing: 3px;
    text-shadow: -10px 0 #3466AF, 0 6px #3466AF, 6px 0 #3466AF, 0 -5px #3466AF;
}

.front-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup_btn{
    color: white;
    font-size: 18px;
    background-color: #3465affe;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup_btn:hover{
    background-color: #4677c0fe;
}

.login_btn{
    color: #3465affe;
    font-size: 18px;
    background-color: #FFCB05;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login_btn:hover{
    background-color: #f4d557;

}

.buttons-container{
    display: flex;
    gap: 40px;
}

.login_container{
    height: 450px;
    width: 300px;
    background-color: #f4d557;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.login_container h1{
    color:#f4d557;
    font-size: 50px;
    font-family: 'Pokemon Solid', sans-serif; 
    text-shadow: -7px 0 #3466AF, 0 4px #3466AF, 4px 0 #3466AF, 0 -3px #3466AF; 
    letter-spacing: 4px;
}

.login_container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#Username{
    margin-top: 30px;
}

#Username, #Password{
    height: 36px;
    width: 200px;
    border-radius: 24px;
    border: none;
    padding: 10px;
}


.submit_b{
    height: 36px;
}

#add_to_list_btn{
    height: 30px;
    width: 30px;
}

.collection{
    position: absolute;
    height: 60vh;
    width: 100vw;
    overflow-x: scroll;
    bottom: 0;
    left: .2%;
}



.card{
    height: 300px;
    width: 200px;
}