#pokemonInfo {
    display: flex;
    flex-direction: row;
}

#Image {
    width: 35%;
}

#Information{
    display: flex;
}

#Name {
    margin-left: 100px;
    display: flex;
}

#Price {
    margin-left: 200px;
    display: flex;
}